    {% extends 'dashboard/admin/base.html' %}

    {% block body %}

            <div class="container-fluid">
            <div class="row">
              <div class="col-12 mb-3">
              <div class="col-12 mb-3">


                    <div id="content-wrapper" style="padding-top: 30px">
            <div class="container-fluid">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item">
                  Выбранный пользователь: {{ users.username }}
                    </li>

                </ol>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table text-primary"></i>
                        Не забудьте потвердить данные
                    </div>
                    <div class="card-body">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                  <form method="post" action="{% url 'coursed' users.pk %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-label-group">
                        <select class="w3-select w3-border" name="course" required="">
                      }

      <option value="">Выберите курс который необходимо удалить</option>

      {% if courses %}
      {% for course in courses %}
    <option value="{{ course.id }}">{{ course.name }}</option>
      {% endfor %}
      {% endif %}
    </select>

</div>


      <div class="form-label-group">
                        <select class="w3-select w3-border" name="users" required="">
                      }

      <option value="">Потвердите пользователя</option>

    <option>{{ users.username }}</option>

    </select>

</div>



              <div class="form-group">
                <div class="row">
                    <button type="submit" style="background-color:" class="btn btn btn-primary" href="">Потверждаю</button>

                </div>
            </div>
    </form>

                   </div>
                    </div>
                </div>
            </div>
        </div>





              </div>
            </div>
          </div>
        </div>

    {% endblock body %}

    {% block extrascripts %}
      <script type="text/javascript">
          $(function () {
              // Log in & Sign up buttons
              // The formURL is given explicitly
              $("#login-btn").modalForm({
                formURL: "{% url 'login' %}"
              });

              $("#signup-btn").modalForm({
                formURL: "{% url 'signup' %}"
              });



              var asyncSuccessMessageUpdate = [
                "<div ",
                "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
                "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
                "Success: Data was updated.",
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
                "<span aria-hidden='true'>&times;</span>",
                "</button>",
                "</div>",
                "<script>",
                "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
                "<\/script>"
              ].join("");


          function updateBookModalForm() {
                $(".update-book").each(function () {
                  $(this).modalForm({
                    formURL: $(this).data("form-url"),
                    asyncUpdate: true,
                    asyncSettings: {
                      closeOnSubmit: false,
                      successMessage: asyncSuccessMessageUpdate,
                      dataUrl: "books/",
                      dataElementId: "#books-table",
                      dataKey: "table",
                      addModalFormFunction: updateBookModalForm
                    }
                  });
                });
              }
              updateBookModalForm();







              // Read and Delete book buttons open modal with id="modal"
              // The formURL is retrieved from the data of the element
              $(".bs-modal").each(function () {
                  $(this).modalForm({formURL: $(this).data("form-url")});
              });

              // Hide message
              $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                  $(".alert").slideUp(500);
              });
          });
      </script>
    {% endblock extrascripts %}







