{% extends 'dashboard/admin/base.html' %}

{% block body %}

  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Обновить данные о курсе</h1>

        <div class="card" style="border-radius: 15px;">
                  {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

              <form action="updaterecord/{{ course.id }}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
          <div class="card-body">
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Категория курса</h6>

              </div>
              <div class="col-md-9 pe-5">

                                <div class="form-label-group ow align-items-center pt-4 pb-3">
                    <select class="w3-select w3-border" name="category_id">
                  }

  <option value="">Выберите категорию</option>

  {% if categorys %}
  {% for category in categorys %}
<option value="{{ category.id }}">{{ category.name }}</option>
  {% endfor %}
  {% endif %}
</select>
                                </div>


              </div>
            </div>

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Название курса</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" class="form-control form-control-lg" name = "name" value="{{ course.name }}" />

              </div>
            </div>
                  <hr class="mx-n3">
                     <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Автор</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" class="form-control form-control-lg" name = "trainer" value="{{ course.trainer }}" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Цена</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="number" class="form-control form-control-lg" name = "cprice" value="{{ course.cprice }}" />

              </div>
            </div>


            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Краткое описание</h6>

              </div>
              <div class="col-md-9 pe-5">
                  <textarea class="form-control" rows="10" name = "synopsis">
                      {{ course.synopsis }}
                  </textarea>

              </div>
            </div>

            <hr class="mx-n3">


            <hr class="mx-n3">

            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg" value = "Submit">Обновить</button>
            </div>
          </div>
              </form>
      </div>
    </div>
  </div>
{% endblock body %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Log in & Sign up buttons
          // The formURL is given explicitly
          $("#login-btn").modalForm({
            formURL: "{% url 'login' %}"
          });

          $("#signup-btn").modalForm({
            formURL: "{% url 'signup' %}"
          });



          var asyncSuccessMessageUpdate = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Data was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");


      function updateBookModalForm() {
            $(".update-book").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessageUpdate,
                  dataUrl: "books/",
                  dataElementId: "#books-table",
                  dataKey: "table",
                  addModalFormFunction: updateBookModalForm
                }
              });
            });
          }
          updateBookModalForm();

          


    
         

          // Read and Delete book buttons open modal with id="modal"
          // The formURL is retrieved from the data of the element
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}







