{% extends 'dashboard/learner/base.html' %}
{% load i18n %}
{% load static %}
{% block body %}

    {% if user.profile %}
        <div class="container">
  <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <h3>Изменить профиль</h3>
                         <div class="row">
                    <div class="col-sm-3">
                        <hr>
                        <label class="small mb-1">{% trans 'Ваше имя' %}</label>
                        {{ profile_form.first_name }}
                    </div>
                         </div>
                         <div class="row">
                    <div class="col-sm-3">
                        <label class="small mb-1">{% trans 'Ваша фамилия' %}</label>
                        {{ profile_form.last_name }}
                    </div>
                         </div>
                         <div class="row">
                    <div class="col-sm-3">
                        <label class="small mb-1">{% trans 'Изменить фото профиля' %}</label>
                        {{ profile_form.avatar }}
                    </div>
                         </div>
                         <div class="row">
                    <div class="col-sm-3">
                         <label class="small mb-1">{% trans 'Ваше учебное заведение' %}</label>
                        {{ profile_form.state }}
                    </div>
                         </div>
                         <div class="row">
                    <div class="col-sm-3">
                        <label class="small mb-1">{% trans 'Ваш город' %}</label>
                        {{ profile_form.city }}
                    </div>
                         </div>
                         <div class="row">
                    <div class="col-sm-3">
                        <label class="small mb-1">{% trans 'Ваш номер телефона' %}</label>
                        {{ profile_form.phonenumber }}
                    </div>
                         </div>
                         <div class="row">
                    <div class="col-sm-3">
                         <label class="small mb-1">{% trans 'Ваш тикток' %}</label>
                        {{ profile_form.TikTok }}
                    </div>
                         </div>
                         <div class="row">
                    <div class="col-sm-3">
                         <label class="small mb-1">{% trans 'Ваш instagram' %}</label>
                        {{ profile_form.instagram }}
                    </div>
                         </div>

                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">{% trans 'Сохранить' %}</button>
        </form>
    </div>

</div>
</div>

        {% else %}
        <div class="container-fluid">
<div class="row">

<div class="col-sm-12" style="padding-top: 10px;">
    <div class="col-sm-8">
      <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-primary"></i>
                    {% trans 'Прикрепить фото' %}
                </div>
                <div class="card-body">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        <div class="form-group">
                <div class="col"><label>{% trans 'Выберите фото пользователя' %}</label>
                    <input type="file" id="myFile" name="avatar" placeholder="Report Attachment" enctype="multipart/form-data"></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" href="">{% trans 'Сохранить' %}</button>
        </div>
    </form>

        </div>
</div>

                      </div>
                    </div>
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>
    {% endif %}



    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}












