{% extends 'dashboard/learner/base.html' %}
{% load i18n %}
{% load embed_video_tags %}
{% load static %}
{% block body %}

  <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        {% video object.video '100% x 400' %}
                    </div>
                    <div class="row">
                        <!--Start Controls-->

                        <h6>Уроки модуля:</h6>
                                               <ul class="list-unstyled pb-3">

                       {% for tutor in tutors %}
                           <a href="{% url 'lessons' tutor.pk %}"><li>{{ tutor.title }}</li></a>


                       {% endfor %}
</ul>

                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->

                        <div class="">
                            <hr>

                                <i class="text-dark fas fa-chevron-left"></i>
                            <a href="{% url 'course' object.module.course.pk %}">{{ object.module.course }}</a>

                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ tutorial.title }}</h1>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Курс:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ object.module.course }}</strong></p>
                                </li>
                            </ul>

                            <p>{{ tutorial.content|safe }}</p>


                                <div class="row">

                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        {% if tutorial.task %}
                                            <a type="submit" class="btn btn-success btn-lg" name="submit" value="buy" href = "{{ tutorial.task.url }}">Задание</a>

                                        {% endif %}
                                    </div>
                                    <div class="col d-grid">
                                                        {% for quiz in quizzes %}
                                                            <a href="{% url 'take_quiz' quiz.pk %}" class = "btn btn-success btn-lg"> Тест
</a>

                                                        {% endfor %}

                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}