{% extends 'dashboard/learner/base.html' %}
{% block body %}
    </style>
<div class="container">
	<div class="congrats">
		<h1>Вы успешно сдали тест!</h1>
{% if taken_quizzes %}
          <tr>
             Урок: <td>{{ taken_quizzes.quiz.tutorial }} </td>
              <br>
            по курсу <td>{{ taken_quizzes.quiz.course.name }}</td>
              <br>
          Вы набрали  <td>{{ taken_quizzes.score }}</td> баллов <br>
              <br>
          <td>{{ taken_quizzes.date }}</td>
              <br>
          </tr>
         <td class="text-right">
              <a href="{% url 'mycourses' %}" class="btn">Главная</a>
            </td>
{% endif %}
</div>
{% endblock body %}
