{% extends 'dashboard/learner/base.html' %}
{% load i18n %}
{% load static %}




{% block body %}

<div class="container-fluid bg-white">
<div class="row">
<div class="col-sm-3" style="color: red">
  <p style="color: blue"></p>
</div>

    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            {% if users %}
                {% for user in users %}
                            {% if user.avatar %}
               <img src="{{ user.avatar.url }}" alt="{{ user.username }}" class = 'img-thumbnail'>
               {% endif %}
                {% endfor %}
            {% else %}
               <img src="{% static 'img/bb.png' %}" alt="{{ user.username }}" class = 'img-thumbnail'>

            {% endif %}

                <span class="text-black-50">
                    {% if user.profile %}
                        <a href={% url 'acreate_profile' %}>{% trans 'Изменить' %}</a>
                        {% else %}
                        <a href = {% url 'profile' %}>{% trans 'Изменить' %}</a>
                    {% endif %}
            </span><span> </span></div>
            </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">{% trans 'Мой профиль' %}</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Username</label><label type="text" class="form-control" placeholder="first name" value="">{{ user.username }}</label></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email</label><label type="text" class="form-control" placeholder="enter email id" value="">{{ user.email }}</label></div>
                </div>
                <div class="row mt-3">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span></span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>{% trans 'Мои курсы' %}</span></div><br>
                {% for cours in courses %}
                    {{ cours.synopsis }}
                {% endfor %}



            </div>

        </div>
    </div>
</div>
</div>





<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}








