{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
{% load i18n %}
    <meta charset="utf-8">
    <title>Quantum Education</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link sizes="16x16 32x32 64x64" href="{% static 'img/bb.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <form action="{% url 'set_language' %}" method="post" class = "opacity">
        {% csrf_token %}
        <input name="next" type="hidden" value="/" />

        <select class="selectpicker" name="language" style="width: auto;" onchange="this.form.submit()">
          {% get_current_language as LANGUAGE_CODE %}


                      <option
                value="ru-RU"
                {% if 'ru-RU' == LANGUAGE_CODE %} selected="selected"{% endif %}
                data-content=''></span>
                <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                  Русский
                </span>
              </option>

              <option
                value="kk"
                {% if 'kk' == LANGUAGE_CODE %} selected="selected"{% endif %}
                data-content=''></span>
                <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                  Қазақ
                </span>
              </option>
        </select>
    </form>
        <a href="{% url 'home' %}" class="navbar-brand d-block d-lg-none">
            <h1 class="text-primary fw-bold m-0">Q-Edu</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'lsign' %}" class="nav-item nav-link active">{% trans 'Регистрация' %}</a>
            </div>
            <a href="{% url 'home' %}" class="navbar-brand bg-secondary py-3 px-4 mx-3 d-none d-lg-block bg-light">
                <h1 class="text-primary fw-bold m-0">Q-Edu</h1>
            </a>
            <div class="navbar-nav me-auto py-0">
                <a href="{% url 'login_form' %}" class="nav-item nav-link">{% trans 'Войти' %}</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

  <form action="{% url 'set_language' %}" method="post" style = "padding: 10px; opacity: 0.8 ">
        {% csrf_token %}
        <input name="next" type="hidden" value="/" />

        <select class="selectpicker" name="language" style="width: auto;" onchange="this.form.submit()">
          {% get_current_language as LANGUAGE_CODE %}


                      <option
                value="ru-RU"
                {% if 'ru-RU' == LANGUAGE_CODE %} selected="selected"{% endif %}
                data-content=''></span>
                <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                  Русский
                </span>
              </option>

              <option
                value="kk"
                {% if 'kk' == LANGUAGE_CODE %} selected="selected"{% endif %}
                data-content=''></span>
                <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                  Қазақ
                </span>
              </option>
        </select>
    </form>
    <!-- Header Start -->
    <div class="container-fluid bg-light my-6 mt-0" id="home" style = "background-image:url('../../media/smart.jpg');   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

        <div class="container">


            <div class="row g-5 align-items-center" >
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                    <h3 class="text-primary mb-3">{% trans 'Добро пожаловать' %}</h3>
                    <h1 class="display-3 mb-3">Q-Education</h1>
                    <div class="">{% trans 'Онлайн обучение, Подготовка к ЕНТ, Профессиональные курсы'%}</div>
                    <div class="d-flex align-items-center pt-5">
                        <a href="{% url 'lsign' %}" class="btn btn-primary py-3 px-4 me-5">{% trans 'Регистрация' %}</a>
                         <a href="{% url 'login_form' %}" class="btn btn-primary py-3 px-4 me-5">{% trans 'Войти' %}</a>
                    </div>
                    <div class="d-flex align-items-center pt-5">
                        <a href="{% url 'shop' %}" class="btn btn-primary py-3 px-4 me-5">{% trans 'Курсы' %}</a>
                        <a href="" class="btn btn-primary py-3 px-4 me-5">{% trans 'Новости' %}</a>

                    </div>
                    <div class = "d-flex align-items-center pt-5">
                                                <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none text-white d-sm-block">{% trans 'Ознакомительное видео' %}</h5>
                    </div>

                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="https://pngimg.com/uploads/anime_girl/anime_girl_PNG33.png" alt="" style = "visibility: hidden">
                </div>
            </div>

        </div>
    </div>
    <!-- Header End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Quantum Education</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">
                            <h1 class="display-1 mb-0">7</h1>
                            <h5 class="mb-5">{% trans 'лет' %}</h5>
                        </div>
                        <h3 class="lh-base mb-0">{% trans 'продуктивной работы в сфере подготовки учеников' %}</h3>
                    </div>
                    <p class="mb-4">{% trans 'Наша команда не просто профи, а фанатики своего дела, миссия которых - успех каждого ученика'%}</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>{% trans 'Приемлемые цены' %}</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>{% trans 'Высокое качество материала' %}</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>{% trans 'Интересный учебный процесс' %}</p>
                    <a class="btn btn-primary py-3 px-5 mt-3" href="https://schoolquantum.kz/">{% trans 'Узнать больше' %}</a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src="https://thumb.tildacdn.com/tild3838-3964-4965-b935-363530646134/-/resize/1000x/-/format/webp/_-1.png" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src="https://thumb.tildacdn.com/tild3365-6639-4132-b930-326432653138/-/format/webp/_-1.png" alt="">
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">{% trans 'Ученики' %}</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">1236</h2>
                    </div>
                    <p class="mb-4">{% trans 'Уже больше тысячи учеников прошли наши курсы'%}</p>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">{% trans 'Курсы' %}</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">30</h2>
                    </div>
                    <p class="mb-0">{% trans 'На нашем сайте вы можете найти более тридцати курсов'%} </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
 <!-- Testimonial Start -->
    <div class="container-fluid bg-light py-5 my-5" id="testimonial">
        <div class="container-fluid py-5">
            <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">{% trans 'Отзывы' %}</h1>
            <div class="row justify-content-center">
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="testimonial-left h-100">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src={% static 'img/bb.png' %} alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src={% static 'img/bb.png' %} alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src='{% static 'img/bb.png' %}' alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="https://static.tildacdn.com/tild3237-6162-4236-a461-613433626364/73cbede9-d3b5-44bb-8.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">Quantum білім беру орталығы❤️ Бұл орталық тек жай ғана білім беріп емес, сонымен қоса общение,дружба,креативке толыы жас мамандар беретін ең позитивті орталық❤️ Мен былтыр 11 сынып түлегі ретінде Quantum ды таңдағаныма еш өкінбеймін☺️ Керісінше қазір сол жердегі достарымды,ағайларымды жанеде сол жердегі атмосфераны ерекшее сағынамын</p>
                            <hr class="w-25 mx-auto">
                            <h5>Молдағапас Айдана</h5>
                            <span>{% trans 'Ученик' %}</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="https://static.tildacdn.com/tild3637-3532-4432-a461-363131303762/d1bea354-7d65-44ef-9.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">В Quantum мне нравится:
Месторасположение и время проведения курсов (доступность выбора), преподаватели, методика преподавания , атмосфера и уют - главные достоинства центра ! Благодарю всех учителей , которые внесли вклад в мое обучение !</p>
                            <hr class="w-25 mx-auto">
                            <h5>Мұхаметқали Айару
</h5>
                            <span>{% trans 'Ученик' %}</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="https://static.tildacdn.com/tild6335-3163-4634-b630-336436346561/2b8059d3-2e7a-4fd2-8.jpg" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">Благодаря Квантуму я смог найти новое общение и новых друзей.Поначалу я думал что это просто школа но копась глубже моё мнение поменялось.Квантум принимает любую инициативу с вашей стороны.Я предложил Жандос Ағай добавить В Квантум подкасты и Интервью с выпускниками.Квантум идеальное место приходите мы вас ждем
</p>
                            <hr class="w-25 mx-auto">
                            <h5>©Назар Алпысбай
 </h5>
                            <span>Подкастер</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="testimonial-right h-100">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src={% static 'img/bb.png' %} alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src={% static 'img/bb.png' %} alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src={% static 'img/bb.png' %} alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Service End -->



    <!-- Testimonial End -->






    <!-- Copyright Start -->
    <div class="container-fluid bg-dark text-white py-4">
            <div class="container">
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href="" class="footer__textLogo">Quantum Group</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">
						Code/design by <a href="https://www.instagram.com/countofnowhere/" target="_blank" class="footer__link">@countofnowhere</a>
						</div>
					</div>
					<div class="footer__data__item">
						<div class="footer__row">Created for <a href="" target="_blank" class="footer__link">qEdu</a>
						</div>
					</div>
					<div class="footer__data__item">
					<div class="footer__row">
						<a href="https://wa.me/+77007524797" target="_blank" class="footer__link">WhatsApp</a>
					</div>
					<div class="footer__row">
						<a href="https://www.instagram.com/quvntum_group/?hl=ru" class="footer__link">Instagram</a>
					</div>
				</div>
			</div>
		</div>
	</div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src={% static 'lib/wow/wow.min.js'%}></script>
    <script src={% static "lib/easing/easing.min.js" %}></script>
    <script src={% static "lib/waypoints/waypoints.min.js"%}></script>
    <script src={% static "lib/typed/typed.min.js"%}></script>
    <script src={% static "lib/counterup/counterup.min.js"%}></script>
    <script src={%  static "lib/owlcarousel/owl.carousel.min.js"%}></script>
    <script src={% static "lib/isotope/isotope.pkgd.min.js"%}></script>
    <script src={% static "lib/lightbox/js/lightbox.min.js"%}></script>

    <!-- Template Javascript -->
    <script src={% static "mein.js/main.js"%}></script>
</body>
</body>

</html>