{% load static %}
{% include 'nav.html' %}



<body id="bg">

        	<div class="auth">
		<div class="container">
			<div class="auth__inner">
				<div class="auth__media">
					<img src={% static 'img/quantum.png' %}>
				</div>
				<div class="auth__auth">
					<h1 class="auth__title">Войдите в ваш аккаунт</h1>
					<p>Заполните все поля</p>
					<form action="{% url 'login' %}" method="POST" autocompelete="new-password" role="presentation" class="form">
                        {% csrf_token %}
						<input name="email" class="fakefield">
						<label>Username</label>
						<input type="text" name="username" id='email' placeholder="quantum">
						<label>Пароль</label>
						<input type="password" name="password" id='password' placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off">
						<button type='submit' class="button button__accent">Войти</button>

					</form>
                    <div>
                        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
                    </div>
				</div>
                 <div class="card-footer">
        <div class="d-flex justify-content-center">
            <div class="messages">
                {% for message in messages %}
                    <a class="alert alert-success" style="color:red;"> {{ message }}</a>
                {% endfor %}
            </div>
          </div>
              </div>
			</div>
		</div>
	</div>
    </body>

