{% extends 'dashboard/learner/base.html' %}
{% load crispy_forms_filters %}


{% block body %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Потверждение нового пароля</h2>
		<hr>
        <p>Пожалуйста введите новый пароль</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <hr>
            <button class="btn btn-primary" type="submit">Сбросить пароль</button>
        </form>
    </div>

{% endblock %}