{% extends 'dashboard/learner/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}


{% block body %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">{% trans 'Сбросить пароль' %}</h2>
		<hr>
		<p>{% trans 'Забыли пароль? Введите вашу почту и мы пришлем вам инструкции' %}</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">{%  trans 'Отправить письмо'%}</button>
        </form>
  	</div> 

{% endblock %}