{% extends "dashboard/learner/base.html" %}
{% load i18n %}

{% block body %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">{%  trans 'Потвердите сброс пароля'%}</h2>
		<hr>
        <p>{%  trans 'Пожалуйста введите новый пароль'%}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">{%  trans 'Сбросить пароль'%}</button>
        </form>
    </div>

{% endblock %}